body {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}
h1 {
    font-size: 5.3rem;
}

.navBar{
    font-size: 2rem;
}

.card{
    font-family: roboto;
    font-size: 1rem;
    text-align: justify;
}

.hayStock {
    color: rgb(101, 230, 101);
  }
  
  .sinStock {
    color: rgb(255, 85, 0);
  }

  .cart{
    font-family: roboto;
  }

  .red{
  color: red;
    }

    .tabla{
      font-size: 0.8rem;      
  }

  .trashTabla{
    width: 20px;
  }

  .imgTabla{
    width: 40px;
  }

  @media ( min-width:768px) {
    .tabla{ font-size: 2rem;}
    .imgTabla{ width: 80px;}
    .trashTabla{width: 32px;}
  }
    
  

  .carousel-small {
    transform: scale(0.8);
  }
  